<!-- <app-navbar></app-navbar> -->
<!--<app-syntaxes></app-syntaxes>-->
<!--<app-standalone></app-standalone>-->
<!--<app-input-parent></app-input-parent>-->
<!--<app-output-parent></app-output-parent>-->
<!--<app-output-two-parent></app-output-two-parent>-->
<!--<app-two-way-binding-parent></app-two-way-binding-parent>-->
<!--<app-lifecycle></app-lifecycle>-->

<!--<app-pipe></app-pipe>-->

<!--<app-flux-control></app-flux-control>-->

<!--<app-view-child></app-view-child>-->

<!--<app-view-children></app-view-children>-->

<!-- <app-dep-child1></app-dep-child1> -->

<!-- <app-dep-child2></app-dep-child2> -->

<!-- <app-obs-child></app-obs-child> -->

<!-- <app-http-child></app-http-child> -->
<!-- <app-signal></app-signal> -->

<!-- <div class="p-4 space-y-4">
  <app-display-counter></app-display-counter>
  <app-control-counter></app-control-counter>
</div> -->

<!-- <div class="p-4 space-y-4 w-[30%] m-auto"> -->
<!-- <app-ng-form></app-ng-form> -->
<!-- <app-form-groups></app-form-groups> -->
<!-- </div> -->

<router-outlet></router-outlet>
