<div class="min-h-screen flex flex-col items-center">
  <header class="bg-[#6D99CC] w-full py-6">
    <h1 class="text-3xl font-bold text-white text-center">
      Bienvenue sur notre Page d'accueil
    </h1>
  </header>

  <main class="flex-grow container mx-auto p-6 bg-[#E0F0F5]">
    <h2 class="text-2xl font-semibold mb-4 text-center">Liste de Liens</h2>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
    >
      <!-- Liens -->
      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 1</h3>
        <p class="text-gray-600 hover:text-white">Le composant standalone</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 2</h3>
        <p class="text-gray-600 hover:text-white">Input</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 3</h3>
        <p class="text-gray-600 hover:text-white">Output</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 4</h3>
        <p class="text-gray-600 hover:text-white">Double Data Binding</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 5</h3>
        <p class="text-gray-600 hover:text-white">
          Le cycle de vie du composant
        </p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 6</h3>
        <p class="text-gray-600 hover:text-white">Créer son propre pipe</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 7</h3>
        <p class="text-gray-600 hover:text-white">
          Créer son propre pipe comme filtre
        </p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 8</h3>
        <p class="text-gray-600 hover:text-white">Description du lien 8.</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 9</h3>
        <p class="text-gray-600 hover:text-white">Contrôle de flux</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 10</h3>
        <p class="text-gray-600 hover:text-white">
          Une référence avec ViewChild
        </p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 11</h3>
        <p class="text-gray-600 hover:text-white">
          Les références avec ViewChildren
        </p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 12</h3>
        <p class="text-gray-600 hover:text-white">Injecton de dépendance</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 13</h3>
        <p class="text-gray-600 hover:text-white">Observables</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 14</h3>
        <p class="text-gray-600 hover:text-white">HttpClient</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 15</h3>
        <p class="text-gray-600 hover:text-white">Signal, Computed, Effects</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 16</h3>
        <p class="text-gray-600 hover:text-white">
          Formulaire simple avec ngForm
        </p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 17</h3>
        <p class="text-gray-600 hover:text-white">
          Formulaire avec FormControl et FormGroup
        </p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 18</h3>
        <p class="text-gray-600 hover:text-white">Description du lien 18.</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 19</h3>
        <p class="text-gray-600 hover:text-white">Description du lien 19.</p>
      </a>

      <a
        href="#"
        class="bg-white rounded-lg shadow-lg p-4 hover:bg-[#FF8FA7] hover:text-white transition duration-300"
      >
        <h3 class="text-lg font-semibold">Lien 20</h3>
        <p class="text-gray-600 hover:text-white">Description du lien 20.</p>
      </a>
    </div>
  </main>

  <footer class="bg-[#1A7CAA] w-full py-4 text-center text-white">
    <p>&copy; 2024 Mon Site Web. Tous droits réservés.</p>
  </footer>
</div>
